nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5em;

  ul {
    list-style-type: none;
    display: flex;
    li {
      color: #000;
      font-size: 1.5em;
      font-weight: 600;
      padding-left: 1em;
    }

    li:hover {
      color: #4f9456;
    }
  }
}
