body {
  background: url("https://miro.medium.com/max/1838/1*fRIaYhhRrNGEECoIocm2Nw.jpeg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//Styles for Search Components
.searchBooks {
  text-align: center;
  margin: 0 94px;
  .search {
    display: flex;

    justify-content: center;
  }
  img {
    // padding: 0.6em;
    margin: 1.5em;
    height: 300px !important;
    width: 200px !important;
  }
}

//Bookdescription component styling
.detail {
  display: flex;
  padding: 0.1em 12em;
  justify-content: space-between;

  .text {
    max-width: 600px;
    padding-left: 3em;
  }
  img {
    width: 160px;
    height: 220px;
  }
  button {
    display: block;
    margin-top: 0.7em;
  }
}
